.back1{

    background-color: rgb(1, 1, 14);
    display: flex;
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 8%;
    padding-right: 8%;


}

.div1{

    width: 50%;
    height:300px;
    background-image:url(../images/working.jpg) ;
    background-size: cover;
    padding-right: 10%;
    padding-left: 10%;
    
}

.div2{

    width: 50%;
    height:300px;
    background-color: rgb(16, 16, 51);
    padding-left: 10%;
    padding-right: 10%;
}

.header1{

    color: white;
    font-size: 28px;
}

.header2{

    color: white;
    margin-top: -8%;
    font-size: 28px;
}

.span{
    font-size: 28px;
    color: purple;
}

.para{
    color: white;
    font-size: 16px;
    
}

.span1{
    color: white;
    font-size: 22px;
}

.span2{
    color: white;
    padding-left: 10%;
    font-size: 22px;
}

.span3{
    color: white;
    padding-left: 10%;
    font-size: 22px;
}

.space{
    margin-top: -7%;
}

.para1{
    color: white;
    font-size: 11px;
}

.para2{
    color: white;
    font-size: 11px;
    padding-left: 3%;
}   

.para3{
    color: white;
    font-size: 11px;
    padding-left: 3%;
}