body{
    background-color:white;
}

.box{

    padding-left: 18%;
    background-color: rgb(176, 189, 194);
    padding-top: 5%;
    padding-bottom: 34%;
   margin-top: 85px;
   margin-left: 60px;
   margin-right: 60px;
   
}



.one{
/* margin-top: 70px; */
/* margin-right: 15%; */
color: white;
width: 300px;
height: 450px;
padding-left: 10px;
background-color: rgb(238, 113, 29);
float: left;
}

.text1{

padding-top: 25%;


}


.button{
    background-color: rgb(238, 113, 29);
    border-radius: 30px;
    border-style: solid;
    width: 200px;
    height: 45px;
    padding-left: 5%;
    margin-top: 30%;
    margin-left: 15%;
    
}
.two{
    /* margin-top: 70px;
    margin-left: 15%; */
    color: white;
    width: 300px;
    height: 450px;
    padding-left: 10px;
    background-color: rgb(72, 110, 107);
    float: left;
    }
    
    .text2{

        padding-top: 25%;
    }


    .button1{
        background-color: rgb(72, 110, 107);
        border-radius: 30px;
        border-style: solid;
        width: 200px;
        height: 45px;
        padding-left: 5%;
        margin-top: 30%;
        margin-left: 15%;
    }

    .three{

        /* margin-right: 15%; */
        color: white;
        width: 300px;
        height: 450px;
        padding-left: 10px;
        background-color: rgb(9, 94, 85);
        float: left;
        
        }
        
        .text3{

            padding-top: 25%;
        }



        .button2{
            background-color: rgb(9, 94, 85);
            border-radius: 30px;
            border-style: solid;
            width: 200px;
            height: 45px;
            padding-left: 5%;
            margin-top: 30%;
            margin-left: 15%;
        }
